<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminFragments/headAndJsScripts :: head">
  <title>Recuperare parola</title>
</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Resetare Parola</div>
      <div class="card-body">
        <div class="text-center mb-4">
          <h4>Ati uitat parola?</h4>
          <p>Introduceti adresa de email si va vom trimite instructiuni pentru recuperare</p>
        </div>
        <form>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
              <label for="inputEmail">Introduceti adresa de email</label>
            </div>
          </div>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" th:href="@{/login}">Pagina de inregistrare</a>
          <a class="d-block small mt-3" th:href="@{/login}">Pagina de logare</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/adminAssets/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/adminAssets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/adminAssets/vendor/jquery-easing/jquery.easing.min.js}"></script>

</body>

</html>
