<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="userFragments/headAndJsScripts :: head">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>MathArena</title>
</head>

<body id="reportsPage">
<div class="" id="home">
   <div th:replace="userFragments/navBar :: navBar"></div>
    <div class="container mt-5">
        <br><br><br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-white mt-5 mb-5" style="color: black">Bla bla bla...</h1>
            </div>
        </div>
        <!-- row -->
        <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                <div class="tm-bg-primary-dark tm-block">
                    <h2 class="tm-block-title">.,.,</h2>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                <div class="tm-bg-primary-dark tm-block">
                    <h2 class="tm-block-title">jhmjhm</h2>
                </div>
            </div>
        </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
            <p class="text-center text-white mb-0 px-4 small">
                MathArena
            </p>
        </div>
    </footer>
</div>
<div th:replace="userFragments/headAndJsScripts :: scripts"></div>
</body>

</html>