<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="userFragments/headAndJsScripts :: head">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>MathArena</title>
</head>

<body id="reportsPage">
<div class="" id="home">
   <div th:replace="userFragments/navBar :: navBar"></div>
    <div class="container mt-5">
        <br><br><br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 style="color: white"></h2>
            </div>
        </div>
        <!-- row -->
        <div class="row">
<!--            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">-->
<!--                <h3 class=" mt-5 mb-5" style="color: white">Înscrie-te în competiția națională de matematică-->
<!--                    pe <em style="color: rgba(142,44,27,0.61)">MathArena.ro </em></h3>-->
<!--            </div>-->
<!--            <div class="col-sm-10 col-md-10 col-lg-6 col-xl-6 tm-block-col">-->
<!--                <img th:src="@{/images/mtm.png}" alt="img">-->
<!--            </div>-->
<!--            <div class="col-sm-12 col-md-12 col-lg-1 col-xl-1 tm-block-col">-->

<!--            </div>-->
            <img th:src="@{/images/mtm.png}" alt="img">
        </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
            <p class="text-center text-white mb-0 px-4 small">
                MathArena
            </p>
        </div>
    </footer>
</div>
<div th:replace="userFragments/headAndJsScripts :: scripts"></div>
</body>

</html>