<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link th:href="@{/adminAssets/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link th:href="@{/adminAssets/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/adminAssets/css/sb-admin.css}" rel="stylesheet">

    <link th:href="@{/adminAssets/css/pagination.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div th:fragment="scripts">

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/adminAssets/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/adminAssets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/adminAssets/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Page level plugin JavaScript-->
    <script th:src="@{/adminAssets/vendor/chart.js/Chart.min.js}"></script>
    <script th:src="@{/adminAssets/vendor/datatables/jquery.dataTables.js}"></script>
    <script th:src="@{/adminAssets/vendor/datatables/dataTables.bootstrap4.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/adminAssets/js/sb-admin.min.js}"></script>

    <!-- Demo scripts for this page-->
    <script th:src="@{/adminAssets/js/demo/chart-area-demo.js}"></script>
    <script th:src="@{/adminAssets/js/demo/chart-bar-demo.js}"></script>
    <script th:src="@{/adminAssets/js/demo/chart-pie-demo.js}"></script>

    <script th:src="@{/adminAssets/js/demo/datatables-demo.js}"></script>



</div>
</body>
</html>